[Unit]
Description=helloworld.js - Hello world node js application
Documentation=https://nodejs.org
After=network.target

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/src/helloworld.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
